/* ============================================================
   RCM — REVACHOL CENTRAL MAINFRAME
   UNIT-01 & UNIT-02
   ============================================================ */

@define-color de-black      #000000;
@define-color de-grey       #1e2530;
@define-color de-mute       #2e4255;
@define-color de-bone       #dcd7ba;
@define-color de-intellect  #5a9ab5;
@define-color de-psyche     #8a5ab0;
@define-color de-physique   #b03838;
@define-color de-motorics   #c8a020;

* {
  font-family: Terminess Nerd Font Propo;
  font-size: 14px;
  border-radius: 0;
}

window#waybar {
  background: @de-black;
  color: @de-bone;
}

#custom-rcm-unit,
#workspaces,
#mpris,
#clock,
#custom-weather,
#pulseaudio,
#upower,
#network {
  background: @de-black;
  border-left: 1px solid @de-grey;
  border-right: 1px solid @de-grey;
  margin: 0px;
  padding: 0px 10px;
}

#custom-rcm-unit {
  color: @de-intellect;
  border-left: 2px solid @de-intellect;
}

#workspaces button {
  color: @de-bone;
  padding: 0px;
  min-width: 17px;
}

#workspaces button.focused {
  border-bottom: 2px solid @de-intellect;
  color: @de-intellect;
  padding-top: 2px;
  font-weight: bold;
}

#workspaces button.empty {
  color: @de-mute;
}

#workspaces button.urgent {
  border-bottom: 2px solid  @de-physique;
  color: @de-physique;
  padding-top: 2px;
}

#mpris {
  color: @de-psyche;
  border-bottom: 1px solid @de-psyche;
}

#clock {
  color: @de-bone;
}

#custom-weather {
  color: @de-motorics;
}

#tray {
  color: @de-motorics;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: @de-physique;
}

#pulseaudio {
  color: @de-bone;
}

#pulseaudio.muted {
  color: @de-physique;
  border-bottom: 1px solid @de-physique;
}

#network.disconnected {
  color: @de-physique;
  border-bottom: 2px solid @de-physique;
}

#upower {
  color: @de-motorics;
  border-right: 2px solid @de-motorics;
}

#upower.charging {
  color: @de-psyche;
}

#upower.warning {
  color: @de-physique;
}

tooltip {
  border: 1px solid @de-intellect;
}

tooltip label {
  color: @de-bone;
}
