@define-color de-black     #0a0f18;
@define-color de-bone      #dcd7ba;
@define-color de-intellect #5a9ab5;
@define-color de-physique  #b03838;

window {
  background: transparent;
  color: @de-bone;
  border-radius: 0px;
  font-family: "Terminess Nerd Font Mono";
  font-weight: bold;
  font-size: 14px;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
  border: 2px solid @de-intellect;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 705px;
  background: @de-black;
}

/* Inner bar container, surrounds buttons */
#inner-box {
  background: @de-black;
  border-radius: 0px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  color: @de-bone;
}

button:hover {
  background: @de-intellect;
  color: @de-black;
  border-radius: 0px;
}
