*,
*::before,
*::after {
  border-radius: 0 !important;
  font-family:
    "JetBrainsMono NFP SemiBold", "Noto Sans CJK JP SemiBold" !important;
  color: #dcd7ba !important;
}

:root {
  --main-bg-color: #000000;
  --kanagawa-bone: #dcd7ba;
  --kanagawa-green: #93a283;
  --bg-black: #000000;
  --bg-dark-grey: #1a1a1a;
  --toolbar-bgcolor: var(--bg-black) !important;
  --lwt-accent-color: var(--bg-black) !important;
  --tabpanel-background-color: var(--bg-black) !important;
  --arrowpanel-background: var(--bg-black) !important;
  --arrowpanel-border-color: var(--kanagawa-green) !important;
  --lwt-toolbar-field-background-color: var(--bg-black) !important;
  --lwt-toolbar-field-color: var(--kanagawa-bone) !important;
  --toolbarbutton-icon-fill: var(--kanagawa-bone) !important;
  --lwt-toolbarbutton-icon-fill: var(--kanagawa-bone) !important;
  --toolbar-field-focus-border-color: var(--kanagawa-green) !important;
  --toolbar-field-background-color: var(--bg-black) !important;
}
#main-window[sizemode="maximized"] #titlebar {
  height: calc(var(--tab-min-height) - 10px);
}
#main-window[sizemode="fullscreen"] {
  height: 100vh !important;
}
#main-window {
  height: calc(100% - var(--tab-min-height)) !important;
  background-color: var(--main-bg-color) !important;
  margin-bottom: calc(10px - var(--tab-min-height));
}
#main-window[sizemode="maximized"] #titlebar {
  margin-bottom: calc(-16px - var(--tab-min-height));
}
#main-window #titlebar {
  margin-bottom: calc(2px - var(--tab-min-height));
}

#navigator-toolbox {
  display: block;
  width: 100vw;
}

#main-window[sizemode="fullscreen"] #nav-bar {
  display: none;
}

#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] {
  height: calc(var(--tab-min-height) + var(--space-above-tabbar)) !important;
}

#TabsToolbar {
  display: grid;
  position: fixed;
  width: 100%;
  bottom: 0;
  grid-template-columns: repeat(3, auto);
  background-color: var(--main-bg-color) !important;
}

#TabsToolbar .titlebar-spacer {
  display: none;
}
#TabsToolbar .toolbar-items {
  grid-column: 1 / 100;
}

#main-window[privatebrowsingmode="temporary"] #TabsToolbar .toolbar-items {
  margin-bottom: -25px;
}

.private-browsing-indicator {
  grid-column: 99;
}

#TabsToolbar #window-controls,
#TabsToolbar .titlebar-buttonbox-container {
  grid-column: 100;
}

#main-window[sizemode="normal"]
  #titlebar
  #toolbar-menubar
  .titlebar-buttonbox-container[skipintoolbarset="true"] {
  display: none;
}

#main-window {
  height: calc(100% - calc(var(--tab-min-height) + 8px)) !important;
}

.urlbarView,
.urlbarView-body-inner,
.urlbarView-results,
.urlbarView-row,
.urlbarView-row-inner,
.urlbarView-no-wrap,
.urlbarView-url,
.urlbarView-title,
.search-panel-container,
#urlbar-results,
#urlbar-panel {
  background-color: var(--bg-black) !important;
  color: var(--kanagawa-bone) !important;
}
.urlbarView {
  border: 1px solid var(--kanagawa-green) !important;
  border-top: none !important;
}
.urlbarView-row:hover > .urlbarView-row-inner,
.urlbarView-row[selected] > .urlbarView-row-inner {
  background-color: var(--bg-dark-grey) !important;
}
#urlbar *,
#urlbar-results *,
.urlbarView * {
  background-color: var(--bg-black) !important;
}
